<div class="habilidades">
        <h2 class="tituloSeccion">Habilidades</h2>
        <div class="contenidoSeccion">
                <div class="row contenedorLogos">
                        <div class="col m-2.2 columna figma"><img class="iconoTecnologias"
                                        src="./../../../assets/icons/figma-1-logo-svgrepo-com 1.svg" alt=""></div>
                        <div class="col m-2.2 columna html"><img class="iconoTecnologias"
                                        src="./../../../assets/icons/html5-svgrepo-com 1.svg" alt=""></div>
                        <div class="col m-2.2 columna js"><img class="iconoTecnologias"
                                        src="./../../../assets/icons/javascript-logo-svgrepo-com 1.svg" alt=""></div>
                        <div class="col m-2.2 columna css"><img class="iconoTecnologias"
                                        src="./../../../assets/icons/css3-logo-svgrepo-com 1.svg" alt=""></div>
                        <div class="col m-2.2 columna angular"><img class="iconoTecnologias"
                                        src="./../../../assets/icons/angular-icon-logo-svgrepo-com 1.svg" alt=""></div>
                </div>
        </div>

</div>