<div class="about">
    <h2 class="tituloSeccion">Sobre MI</h2>
    <div class="contenidoSeccion">

        <div class="row">
            <div class="col"><img src="" alt=""></div>
            <div class="col">
                <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus labore laborum
                    doloremque voluptatibus
                    rerum magnam neque quod accusantium, commodi voluptatem ullam odit vero cum provident repellendus
                    aperiam
                    sit fuga. In!</p>
                <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus labore laborum
                    doloremque voluptatibus
                    rerum magnam neque quod accusantium, commodi voluptatem ullam odit vero cum provident repellendus
                    aperiam
                    sit fuga. In!</p>
                <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus labore laborum
                    doloremque voluptatibus
                    rerum magnam neque quod accusantium, commodi voluptatem ullam odit vero cum provident repellendus
                    aperiam
                    sit fuga. In!</p>
            </div>
        </div>
    </div>
</div>