<div class="home">
    <div class="contenidoSeccion">
        <div class="sombra">
            <div class="tituloSeccion left">
                <div class="nombreTitlo"><span class="D">D</span>ilan <span class="L">L</span>eón</div>
                <h1 class="titulo"><span class="llaves">&#123;</span> Desarrollador Front-end <span
                        class="llaves">&#125;</span></h1>
                <div class="Habilidades-titulo">JavaScript - Html - Css - Angular - Figma</div>
            </div>
        </div>
    </div>
</div>